.button button{
  margin-left: 0.9rem;
}

#contato-content p{
  margin: 0.2rem;
}

#contato-content a{
  margin-right: 0.5rem;
}

#contato-content{
  display: flex;
  margin-top: 1rem;
}

.fa-whatsapp{
  font-size: 1.8rem;
}
