<div>
  <div class="card">
    <div class="card-content white-text">
      <div class="row">
        <div class="col m6 s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title black-text">Rua Laplace, nº 55 - Brooklin Paulista</span>

                <div id="contato-content">
                  <a href="tel:1132949062" class="material-icons black-text">local_phone</a>
                  <p><a class="black-text" href="tel:1132949062">(11) 3294-9062</a></p>
                </div>

                <div id="contato-content">
                  <a href="tel:11983279599" class="fa fa-whatsapp black-text"></a>
                  <p><a href="tel:11983279599" class="black-text">(11) 98327-9599</p></a>
                </div>

                <div id="contato-content">
                  <a href="mailto:rita.cassia.s09@gmail.com" class="material-icons black-text">email</a>
                  <p><a href="mailto:rita.cassia.s09@gmail.com" class="black-text">Mande-me um e-mail</a></p>
                </div>

              </div>
            </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.419138042842!2d-46.68662758482592!3d-23.62515616983688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50967dd3674f%3A0xe38e1566a16e9298!2sR.+Laplace%2C+55+-+Cidade+Mon%C3%A7%C3%B5es%2C+S%C3%A3o+Paulo+-+SP%2C+04622-000!5e0!3m2!1spt-BR!2sbr!4v1502744531644" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col m6 s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">Avenida Roque Petroni Jr, nº 160 - Jd. das Acácias</span>

              <div id="contato-content">
                <a href="tel:1155212522" class="material-icons black-text">local_phone</a>
                <p><a class="black-text" href="tel:1132949062">(11) 5521-2522</a></p>
              </div>

              <div id="contato-content">
                <a href="tel:11983279599" class="fa fa-whatsapp black-text"></a>
                <p><a href="tel:11983279599" class="black-text">(11) 98327-9599</p></a>
              </div>

              <div id="contato-content">
                <a href="mailto:rita.cassia.s09@gmail.com" class="material-icons black-text">email</a>
                <p><a href="mailto:rita.cassia.s09@gmail.com" class="black-text">Mande-me um e-mail</a></p>
              </div>

            </div>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.407972147352!2d-46.69081088502107!3d-23.625556284651104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce509515f376ff%3A0xd9f1a62b92c18372!2sAv.+Roque+Petroni+J%C3%BAnior%2C+160+-+Cidade+Mon%C3%A7%C3%B5es%2C+S%C3%A3o+Paulo+-+SP%2C+04707-000!5e0!3m2!1spt-BR!2sbr!4v1502847405808" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <p class="card-title black-text center">Mande uma mensagem para nós, teremos o prazer em respondê-lo</p><br>
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col 12s m6">
                <input id="first_name" type="text" class="validate black-text">
                <label for="first_name">Primeiro Nome</label>
              </div>
              <div class="input-field col 12s m6">
                <input id="last_name" type="text" class="validate black-text">
                <label for="last_name">Último nome</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="tel" type="tel" class="validate black-text">
                <label for="tel">Telefone</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate black-text">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="matter" class="materialize-textarea black-text"></textarea>
                    <label for="matter">Assunto da Mensagem</label>
                  </div>
                </div>
              </form>

              <div class="button">
                <button type="send" class="btn button-active">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
