<!-- <header> -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-class="{active: activetab == '/sobre'}"><a href="/sobre">Sobre</a></li>
          <li ng-class="{active: activetab == '/promocao'}"><a href="/promocao">Promoção</a></li>
          <li ng-class="{active: activetab == '/contato'}"><a href="/contato">Contato</a></li>
        </ul>
      </div>
    </nav>
  </div>
<!-- </header> -->
