<section>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="imagens/foto-cabelo-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h1>Estética!</h1>
          <h5 class="light grey-text text-lighten-3">Facial e Corporal.</h5>
        </div>
      </li>
      <li>
        <img src="imagens/foto-cabelo-2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h1 class="black-text">Cabelo</h1>
          <h5 class="light black-text text-lighten-3">Coloração e Progressiva.</h5>
        </div>
      </li>
      <li>
        <img src="imagens/foto-manicure-3.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h1 class="black-text">Manicure</h1>
          <h5 class="light black-text text-lighten-3">Mão e Pé</h5>
        </div>
      </li>
      <li>
        <img src="imagens/foto-cabelo-4.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h1>Casamento</h1>
          <h5 class="light grey-text text-lighten-3">Pacotes completos</h5>
        </div>
      </li>
    </ul>
  </div>

 <script>
   $(document).ready(function(){
     $('.slider').slider({
       height:900,
       indicators:false
     });
   });
 </script>

</section>
