
<div class="sobre">
  <h1 class="amber accent-3-text">Cabelo</h1>
  <img class="responsive-img" src="imagens/foto-salao.jpg">
  <p>
    Studio das Sobrancelhas é composto pelos mais competentes profissionais de São Paulo.
    No nosso salão de beleza você será tratada como a diva que você é.
    Nossa equipe foi treinada não somente para torná-la linda externamente, mas para ajudá-la a sentir-se linda e confiante em seus próprios atributos.
    Nossa maior satisfação é ver nossos clientes deixarem o nosso estabelecimento com um belo sorriso no rosto e o brilho de quem sabe-se e sente-se especial.
    Visite-nos e deixe-nos ajudá-la a brilhar e encantar a todos que cruzem o seu caminho. Não deixe de nos contatar para que possamos saber em que podemos ajudá-la.
  </p>
</div>
